<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
  <div class="container">
    <div>
      <div id="container-content">
        <form class="form-inline active-cyan-2 col-4 col-sm-4 px-0 mt-2">
          <input class="form-control form-control-sm mr-3 w-75 novalidate"
                 type="text"
                 placeholder="Search"
                 aria-label="Search"
                 name="search"
                 [(ngModel)]="searchText"
                 autocomplete="off" />
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
        <p *ngIf="!isUserLoggedIn">Please log in</p>
        <div class="container" *ngIf="isUserLoggedIn">
          
          <div class="table-responsive" *ngIf="movies">
            <table class="table table-hover">
              <thead class="thead-dark">
              <th> <i class="fas fa-car"></i> Title</th>
              <th> <i class="far fa-user"></i> Description</th>
              <th> <i class="far fa-calendar-alt"></i> Release Date</th>
              <th> <i class="fas fa-calendar-day"></i> Duration (minutes)</th>
              </thead>
              <tbody>
                <tr *ngFor="let movie of movies | searchFilter: { title: searchText, description: searchText, actorId: searchText };" (click)="showDM(movie.id)">
                  <td>{{movie.title}}</td>
                  <td>{{movie.description}} </td>
                  <td> {{movie.releaseDate}}</td>
                  <td>{{movie.duration}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
